a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: $black-dark;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $black-medium;
}

.text {
    &-primary {
        color: $primary-dark !important;
    }
    &-secondary {
        color: $secondary-dark !important;
    }
}

.bg {
    &-home {
        padding: 270px 0 100px;
        
        .hero-banner {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 90%;
            overflow: hidden;
            position: absolute;
            transform: skewY(-6.75deg);
            transform-origin: top left;
            border-radius: 0 0 0 300px;
            box-shadow: -3px 4px 0 7px $primary-dark;
        }
    }

    &-home-img {
        background-image: url(../images/bg-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 25% 5%;
        height: 100%;
        width: 100%;
    }

    &-home-color {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: 
            linear-gradient(180deg, #FFFFFF 0%, 
            rgba(255, 246, 215, 0.56) 35.37%, 
            rgba(237, 190, 20, 0.37) 59.4%, 
            rgba(237, 190, 20, 0.6) 100%);
    }
    
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-filter {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.logo {
    img {
        transition: all .2s ease-out;
        transform: scale(1);
    }
    span {
        font-size: 1.5em;
        font-weight: 700;
        margin-left: 1rem;
        line-height: 28px;
        transition: all .2s ease-out;
    }
}
.navbar-custom {
    a {
       color: $secondary-dark !important;
       transition: all .2s ease-in-out;

       &:hover {
           font-weight: 700 !important;
       }
    }
    .navbar-nav {
        li {
            padding: 0 20px;
        }
        .nav-item.active .nav-link {
            font-weight: 700;
        }
    }
    .navbar-btn {
        color: #fff;
        border-radius: 8px;
        padding: .5rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        background-color: $secondary-dark;
        transition: all .2s linear;

        &:hover {
            color: $secondary-dark;
            background-color: #ffffff7d;
            border: 1px solid transparent;
            backdrop-filter: blur(5px);
        }

        i {
            margin-left: 10px;
        }
    }
    &.nav-sticky {
        .navbar-btn {
            &:hover {
                color: $secondary-dark;
                background-color: #fff;
                border: 1px solid $secondary-dark;
            }
        }
        .logo {
            img {
                transform: scale(0.9);
            }
            span {
                font-size: 1.3em;
                line-height: 1.2em;
            }
        }
    }
}

#home {
    .hero-title {
        max-width: 420px;

        .title {
            font-size: 3em;
            font-weight: 600;
            text-transform: uppercase;
        }
        .desc {
            font-weight: 400;
            margin-bottom: 25px;
            position: relative;

            &::before {
                content: '';
                top: -10px;
                left: -20px;
                width: 77px;
                height: 77px;
                position: absolute;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
        .hero-btn {
            color: #fff;
            border-radius: 8px;
            padding: .6rem 1.8rem;
            border: 1px solid #fff;
            transition: all .15s linear;

            &:hover {
                color: $primary-dark;
                background-color: #fff;
            }

            i {
                margin-left: 7px;
            }
        }
    }
}

#counter-home {
    padding: 50px 0;
    .counter-detail {
        margin-top: 15px;
        color: $black-medium;

        .title {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 0;
            color: $black-dark;
            font-family: 'Open sans', sans-serif;
        }
    }
}

#graph-home {
    .chart {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 75% 25%;
        gap: 1.5em;
        padding: 1.5em;
        border-radius: 35px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
        background: linear-gradient(266.87deg, #FFFAEA 0%, #EFDD99 100%);

        i {
            position: absolute;
            top: 0;
            right: 0;
            padding: .75em;
            font-size: 25px;
            background-color: $primary-dark;
            border-radius: 0px 35px 35px 35px;
        }

        #chart-home {
            width: 100%;
            height: 100%;
            min-height: 350px;
            border-radius: 15px;
            background-color: #fff;
        }
        .chart-detail {
            margin: auto 0;
            padding-right: 1.5em;

            p {
                position: relative;
                
                &::before {
                    content: '';
                    top: -10px;
                    left: -10px;
                    width: 77px;
                    height: 77px;
                    border-radius: 3px;
                    position: absolute;
                    background: rgba(252, 209, 52, 0.2);
                }
            }

            .title {
                max-width: 180px;
                font-weight: 700;
            }
        }
    }
}

// Searchbar Peta Page
.search-bar {
    display: flex;
    min-width: 400px;
    padding: .5em 1em;
    position: relative;
    border-radius: 25px;

    .search-btn {
        font-size: 1em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        border: 1px solid $secondary-dark;
        padding: .3em 18px;
        border-radius: 0 5px 5px 0;
    }
}

#peta-section {
    position: relative;
    overflow: hidden;

    #chart-map {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .navigation-btn {
        top: 0;
        display: flex;
        line-height: 0;
        padding: 1.2em;
        color: #455B8B;
        position: relative;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        background-color: #fff;
        transition: all .15s ease-in-out;

        i {
            font-size: 20px;
            line-height: 1;
        }

        &:hover {
            background-color: #FEF6D6;
            color: #EDBE14;
        }
    }

    .interface {
        left: 50%;
        padding: .75em;
        border-radius: 25px;
        backdrop-filter: blur(5px);
        transform: translateX(-50%);
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: rgba(255, 255, 255, .3);

        .menu-bar {
            display: flex;

            .navigation-btn {
                margin: 0 .5em;
            }
            
        }
    }
    .interface-2 {
        right: 1em;
        padding: 1em;

        .zoom {
            flex-direction: column;
            padding: 10px 0;
            background-color: #fff;
            border-radius: 25px;

            .ruler {
                border: 1px solid #253e7552;
                margin: 10px;
            }
            
            .navigation-btn {
                padding: .5em;
                margin: 0 auto;
                border-radius: 20px;
            }
        }
        .compass {
            margin-bottom: 15px;
        }
    }

    [class*="interface"] {
        position: absolute;
        bottom: 1.5em;
        z-index: 500;
    }
}

footer {
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFE071 100%);

    * {
        transition: all .15s linear;
        word-break: break-word;
    }

    .contact-info {
        .contact-wrapper {
            .title {
                font-size: 1em;
                font-weight: 700;
                margin: 0;

                i {
                    min-width: 1em;
                }
            }
            p {
                margin-left: 1.25em;
            }
        }
    }

    .social-info {
        margin: 35px 0 25px;

        .footer-logo {
            .logo {
                display: flex;
                align-items: center;
                max-width: fit-content;

                &:hover span {
                    color: #fff !important;
                }
            }
        }

        .social-media {
            font-size: 22px;

            a {
                &:hover {
                    color: #fff;
                }
            }
            
            li:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .footnote {
        align-items: center;
        padding: 20px 0;
        background: rgba(68, 68, 68, 0.05);

        p {
            font-size: 18px;
        }
    }
}