@media screen and (max-width:768px) {
    .bg-home {
        padding: 100px 0;
    }
    .navbar-custom {
        .navbar-nav {
            li {
                padding: 20px;
            }
        }
        .navbar-btn {
            margin: 10px;
        }
    }
    #counter-home {
        padding: 20px 0;

        .counter-wrapper {
            margin-bottom: 2em;
        }
    }
    footer {
        .contact-wrapper {
            margin-bottom: .8em;
            
            p {
                margin-left: 1.5em !important;
                font-size: .8em;
            }
        }
        .footnote p {
            font-size: 12px;
        }
    }
}
@media screen and (max-width:480px) {
    .logo span {
        font-size: 1em;
        line-height: 1em;
    }
    #graph-home .chart i {
        font-size: 20px;
    }
    .search-bar {
        min-width: 100px;
    }
    #peta-section {
        .navigation-btn {
            padding: .5em .7em;
            border-radius: 13px;
            
            i {
                font-size: 14px;
            }
        }

        .interface {
            padding: .5em;
            border-radius: 15px;
        }

        .interface-2 {
            right: 0;
            bottom: 15%;
            padding: .5em;

            .zoom {
                padding: 5px;
                border-radius: 15px;

                .navigation-btn {
                    padding: 4px 7px;
                    border-radius: 10px;
                }
            }
        }
    }
    footer .social-info .footer-logo .logo {
        margin: 0 auto 20px;
    }
}
@media screen and (max-width: 767px) {
    #home  {
        .hero-banner {
            height: 100%;
    
        }
        .hero-title {
            .hero-btn {
                float: right;
            }    
        }

    }
    #counter-home .counter-wrapper {
        margin-bottom: 1em;
    }
    #graph-home .chart {
        grid: none;

        #chart-home {
            min-height: 300px;
        }
    
        .chart-detail {
            .title {
                max-width: 280px;
            }
        }
    }
}
@media (min-width:768px) and (max-width:992px) {
    #graph-home .chart {
        grid-template-columns: 70% 30%;
    }
}

@media (min-width:768px) and (max-width:1400px) {
    .bg-home {
        padding: 150px 0 100px;

        .hero-banner {
            height: 100%;
        }
    }

    #peta-section {
        .navigation-btn {
            padding: 1.0em;
            border-radius: 20px;

            i {
                font-size: 18px;
            }
        }
        .interface {
            padding: .7em;
            border-radius: 25px;
        }
        .interface-2 {
            .zoom {
                .navigation-btn {
                    padding: .4em;
                }
            }
        }
    }
}
@media (min-width:576px) {
    .modal-dialog {
        margin: 10rem auto 0;
    }
}
@media (min-width:768px) {
    .navbar-peta {
        .navbar-collapse {
            flex-grow: initial;
        }
    }
}
@media (min-width: 992px) {
    .container-lg {
        max-width: 960px;
    }
    .container-fluid.navbar-peta {
        max-width: 100%;
        padding: 0 2em;
    }
}

@media (min-width:1200px) {
    .container-lg {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .modal-dialog {
        // max-width: 800px;
        margin: 20rem auto 0;
    }
}