$primary-dark: #EDBE14;
$primary-medium: #FCD134;
$primary-soft: #FFE071;

$secondary-dark: #253E75;
$secondary-medium: #455B8B;
$secondary-soft: #9BB3E7;

$black-dark: #222222;
$black-medium: #444444;
$black-soft: #888888;
$black-softer: #B5B5B5;