@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #222222;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

.text-primary {
  color: #EDBE14 !important;
}

.text-secondary {
  color: #253E75 !important;
}

.bg-home {
  padding: 270px 0 100px;
}

.bg-home .hero-banner {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: absolute;
  transform: skewY(-6.75deg);
  transform-origin: top left;
  border-radius: 0 0 0 300px;
  box-shadow: -3px 4px 0 7px #EDBE14;
}

.bg-home-img {
  background-image: url(../images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 5%;
  height: 100%;
  width: 100%;
}

.bg-home-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 246, 215, 0.56) 35.37%, rgba(237, 190, 20, 0.37) 59.4%, rgba(237, 190, 20, 0.6) 100%);
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-filter {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.logo img {
  transition: all .2s ease-out;
  transform: scale(1);
}

.logo span {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 1rem;
  line-height: 28px;
  transition: all .2s ease-out;
}

.navbar-custom a {
  color: #253E75 !important;
  transition: all .2s ease-in-out;
}

.navbar-custom a:hover {
  font-weight: 700 !important;
}

.navbar-custom .navbar-nav li {
  padding: 0 20px;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
}

.navbar-custom .navbar-btn {
  color: #fff;
  border-radius: 8px;
  padding: .5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  background-color: #253E75;
  transition: all .2s linear;
}

.navbar-custom .navbar-btn:hover {
  color: #253E75;
  background-color: #ffffff7d;
  border: 1px solid transparent;
  backdrop-filter: blur(5px);
}

.navbar-custom .navbar-btn i {
  margin-left: 10px;
}

.navbar-custom.nav-sticky .navbar-btn:hover {
  color: #253E75;
  background-color: #fff;
  border: 1px solid #253E75;
}

.navbar-custom.nav-sticky .logo img {
  transform: scale(0.9);
}

.navbar-custom.nav-sticky .logo span {
  font-size: 1.3em;
  line-height: 1.2em;
}

#home .hero-title {
  max-width: 420px;
}

#home .hero-title .title {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
}

#home .hero-title .desc {
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
}

#home .hero-title .desc::before {
  content: '';
  top: -10px;
  left: -20px;
  width: 77px;
  height: 77px;
  position: absolute;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

#home .hero-title .hero-btn {
  color: #fff;
  border-radius: 8px;
  padding: .6rem 1.8rem;
  border: 1px solid #fff;
  transition: all .15s linear;
}

#home .hero-title .hero-btn:hover {
  color: #EDBE14;
  background-color: #fff;
}

#home .hero-title .hero-btn i {
  margin-left: 7px;
}

#counter-home {
  padding: 50px 0;
}

#counter-home .counter-detail {
  margin-top: 15px;
  color: #444444;
}

#counter-home .counter-detail .title {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0;
  color: #222222;
  font-family: 'Open sans', sans-serif;
}

#graph-home .chart {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75% 25%;
  gap: 1.5em;
  padding: 1.5em;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(266.87deg, #FFFAEA 0%, #EFDD99 100%);
}

#graph-home .chart i {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75em;
  font-size: 25px;
  background-color: #EDBE14;
  border-radius: 0px 35px 35px 35px;
}

#graph-home .chart #chart-home {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border-radius: 15px;
  background-color: #fff;
}

#graph-home .chart .chart-detail {
  margin: auto 0;
  padding-right: 1.5em;
}

#graph-home .chart .chart-detail p {
  position: relative;
}

#graph-home .chart .chart-detail p::before {
  content: '';
  top: -10px;
  left: -10px;
  width: 77px;
  height: 77px;
  border-radius: 3px;
  position: absolute;
  background: rgba(252, 209, 52, 0.2);
}

#graph-home .chart .chart-detail .title {
  max-width: 180px;
  font-weight: 700;
}

.search-bar {
  display: flex;
  min-width: 400px;
  padding: .5em 1em;
  position: relative;
  border-radius: 25px;
}

.search-bar .search-btn {
  font-size: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  border: 1px solid #253E75;
  padding: .3em 18px;
  border-radius: 0 5px 5px 0;
}

#peta-section {
  position: relative;
  overflow: hidden;
}

#peta-section #chart-map {
  width: 100%;
  height: 100vh;
  position: relative;
}

#peta-section .navigation-btn {
  top: 0;
  display: flex;
  line-height: 0;
  padding: 1.2em;
  color: #455B8B;
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  transition: all .15s ease-in-out;
}

#peta-section .navigation-btn i {
  font-size: 20px;
  line-height: 1;
}

#peta-section .navigation-btn:hover {
  background-color: #FEF6D6;
  color: #EDBE14;
}

#peta-section .interface {
  left: 50%;
  padding: .75em;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
}

#peta-section .interface .menu-bar {
  display: flex;
}

#peta-section .interface .menu-bar .navigation-btn {
  margin: 0 .5em;
}

#peta-section .interface-2 {
  right: 2em;
}

#peta-section .interface-2 .zoom {
  flex-direction: column;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 20px;
}

#peta-section .interface-2 .zoom .ruler {
  border: 1px solid #253e7552;
  background-color: #253e7552;
  margin: 10px;
}

#peta-section .interface-2 .zoom .navigation-btn {
  padding: .5em;
  margin: 0 auto;
  border-radius: 20px;
}

#peta-section .interface-2 .compass {
  margin-bottom: 15px;
}

#peta-section [class*="interface"] {
  position: absolute;
  bottom: 1.5em;
  z-index: 500;
}

footer {
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFE071 100%);
}

footer * {
  transition: all .15s linear;
  word-break: break-word;
}

footer .contact-info .contact-wrapper .title {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

footer .contact-info .contact-wrapper .title i {
  min-width: 1em;
}

footer .contact-info .contact-wrapper p {
  margin-left: 1.25em;
}

footer .social-info {
  margin: 35px 0 25px;
}

footer .social-info .footer-logo .logo {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

footer .social-info .footer-logo .logo:hover span {
  color: #fff !important;
}

footer .social-info .social-media {
  font-size: 22px;
}

footer .social-info .social-media a:hover {
  color: #fff;
}

footer .social-info .social-media li:not(:last-child) {
  margin-right: 40px;
}

footer .footnote {
  align-items: center;
  padding: 20px 0;
  background: rgba(68, 68, 68, 0.05);
}

footer .footnote p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .bg-home {
    padding: 100px 0;
  }
  .navbar-custom .navbar-nav li {
    padding: 20px;
  }
  .navbar-custom .navbar-btn {
    margin: 10px;
  }
  #counter-home {
    padding: 20px 0;
  }
  #counter-home .counter-wrapper {
    margin-bottom: 2em;
  }
  footer .contact-wrapper {
    margin-bottom: .8em;
  }
  footer .contact-wrapper p {
    margin-left: 1.5em !important;
    font-size: .8em;
  }
  footer .footnote p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .logo span {
    font-size: 1em;
    line-height: 1em;
  }
  #graph-home .chart i {
    font-size: 20px;
  }
  .search-bar {
    min-width: 100px;
  }
  #peta-section .navigation-btn {
    padding: .5em .7em;
    border-radius: 13px;
  }
  #peta-section .navigation-btn i {
    font-size: 14px;
  }
  #peta-section .interface {
    padding: .5em;
    border-radius: 15px;
  }
  #peta-section .interface-2 {
    right: 0;
    bottom: 15%;
    padding: .5em;
  }
  #peta-section .interface-2 .zoom {
    padding: 5px;
    border-radius: 15px;
  }
  #peta-section .interface-2 .zoom .navigation-btn {
    padding: 4px 7px;
    border-radius: 10px;
  }
  footer .social-info .footer-logo .logo {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 767px) {
  #home .hero-banner {
    height: 100%;
  }
  #home .hero-title .hero-btn {
    float: right;
  }
  #counter-home .counter-wrapper {
    margin-bottom: 1em;
  }
  #graph-home .chart {
    grid: none;
  }
  #graph-home .chart #chart-home {
    min-height: 300px;
  }
  #graph-home .chart .chart-detail .title {
    max-width: 280px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #graph-home .chart {
    grid-template-columns: 70% 30%;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .bg-home {
    padding: 150px 0 100px;
  }
  .bg-home .hero-banner {
    height: 100%;
  }
  #peta-section .navigation-btn {
    padding: 1.0em;
    border-radius: 20px;
  }
  #peta-section .navigation-btn i {
    font-size: 18px;
  }
  #peta-section .interface {
    padding: .7em;
    border-radius: 25px;
  }
  #peta-section .interface-2 .zoom .navigation-btn {
    padding: .4em;
  }
}

@media (min-width: 768px) {
  .navbar-peta .navbar-collapse {
    flex-grow: initial;
  }
}

@media (min-width: 992px) {
  .container-lg {
    max-width: 960px;
  }
  .container-fluid.navbar-peta {
    max-width: 100%;
    padding: 0 2em;
  }
}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 1140px;
  }
}
/*# sourceMappingURL=custom.css.map */