@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #222222;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

.text-primary {
  color: #EDBE14 !important;
}

.text-secondary {
  color: #253E75 !important;
}

.bg-home {
  padding: 270px 0 100px;
}

.bg-home .hero-banner {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: absolute;
  transform: skewY(-6.75deg);
  transform-origin: top left;
  border-radius: 0 0 0 300px;
  box-shadow: -3px 4px 0 7px #EDBE14;
}

.bg-home-img {
  background-image: url(../images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 0%;
  height: 100%;
  width: 100%;
}

.bg-home-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 246, 215, 0.56) 35.37%, rgba(237, 190, 20, 0.37) 59.4%, rgba(237, 190, 20, 0.6) 100%);
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-filter {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.logo span {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 1rem;
  line-height: 28px;
}

.navbar-custom a {
  color: #253E75 !important;
  transition: all .2s ease-in-out;
}

.navbar-custom a:hover {
  font-weight: 700 !important;
}

.navbar-custom .navbar-nav li {
  padding: 0 20px;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
}

.navbar-custom .navbar-btn {
  color: #fff;
  border-radius: 8px;
  padding: .5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #253E75;
  background-color: #253E75;
  transition: all .15s linear;
}

.navbar-custom .navbar-btn:hover {
  color: #253E75;
  background-color: #fff;
}

.navbar-custom .navbar-btn i {
  margin-left: 10px;
}

#home .hero-title {
  max-width: 420px;
}

#home .hero-title .title {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
}

#home .hero-title .desc {
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
}

#home .hero-title .desc::before {
  content: '';
  top: -10px;
  left: -20px;
  width: 77px;
  height: 77px;
  position: absolute;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

#home .hero-title .hero-btn {
  color: #fff;
  border-radius: 8px;
  padding: .6rem 1.8rem;
  border: 1px solid #fff;
  transition: all .15s linear;
}

#home .hero-title .hero-btn:hover {
  color: #EDBE14;
  background-color: #fff;
}

#home .hero-title .hero-btn i {
  margin-left: 7px;
}

#counter-home {
  padding: 50px 0;
}

#counter-home .counter-detail {
  margin-top: 15px;
  color: #444444;
}

#counter-home .counter-detail .title {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0;
  color: #222222;
  font-family: 'Open sans', sans-serif;
}

#graph-home .chart {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75% 25%;
  gap: 1.5em;
  padding: 2em 1.5em;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(266.87deg, #FFFAEA 0%, #EFDD99 100%);
}

#graph-home .chart i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 25px;
  background-color: #EDBE14;
  border-radius: 0px 35px 35px 35px;
}

#graph-home .chart #chartdiv {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border-radius: 15px;
  background-color: #fff;
}

#graph-home .chart .chart-detail {
  margin: auto 0;
}

#graph-home .chart .chart-detail p {
  position: relative;
}

#graph-home .chart .chart-detail p::before {
  content: '';
  top: -10px;
  left: -10px;
  width: 77px;
  height: 77px;
  border-radius: 3px;
  position: absolute;
  background: rgba(252, 209, 52, 0.2);
}

#graph-home .chart .chart-detail .title {
  max-width: 180px;
  font-weight: 700;
}

footer {
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFE071 100%);
}

footer * {
  transition: all .15s linear;
}

footer .contact-info .contact-wrapper .title {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

footer .contact-info .contact-wrapper .title i {
  min-width: 1em;
}

footer .contact-info .contact-wrapper p {
  margin-left: 1.25em;
}

footer .social-info {
  margin: 35px 0 25px;
}

footer .social-info .footer-logo .logo {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

footer .social-info .footer-logo .logo:hover span {
  color: #fff !important;
}

footer .social-info .social-media {
  font-size: 22px;
}

footer .social-info .social-media a:hover {
  color: #fff;
}

footer .social-info .social-media li:not(:last-child) {
  margin-right: 40px;
}

footer .footnote {
  align-items: center;
  padding: 20px 0;
  background: rgba(68, 68, 68, 0.05);
}

footer .footnote p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .navbar-custom .navbar-nav li {
    padding: 20px;
  }
  .navbar-custom .navbar-btn {
    margin: 10px;
  }
}
/*# sourceMappingURL=custom.css.map */